
.khungctsp1{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    overflow: hidden;
    margin-top: 15px;
    clear: both;
}
/* div slide-img */
.slide-img{
    width: 60%;
}
/* thong so */
.cauHinhSP td{
    color: black;   
    border: none;
}
/* lua chon */
.optionsp{
    width: 40%;
}
/* bang thong so */
.table-striped{
    margin: 0 !important;
    padding: 0;
    max-width: 500px;
    
}
td{
    font-size: 14px;
}
/* title */
.title{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.title-CH{
    margin: 15px 0;
}
/* chon cau hinh */
.item-CH.act {
    color: #2f80ed;
}
.item-CH:hover{
    border-color: #2f80ed;
}
.item-CH{
    text-decoration: none;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 13px;
    min-width: 67px;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 2px;
    vertical-align: top;
    height: 36px;
    line-height: 36px;
}
.CH1, .CH2{
    margin-bottom: 10px;
}

/* tab gia*/
.nav-item{
    background: #eeeeef;
    border-radius: 5px;
    margin-right: 5px;
}

.tab-content{
    font-size: 14px;
    border: 1px solid #e0e0e0;
    border-top: none;
}
.box-price-present, .box-price-old, .box-price-percent ,p{
    color: black;
}
.nav-link.active .box-price-present,.nav-link.active .box-price-percent{
    color: red;
}

.box-price-present{
    font-size: 16px;
    font-weight: bold;
}

 .box-price-old, .box-price-percent {
    display: inline-block;
    vertical-align: top;
}

.box-price-old {
    color: #666;
    text-decoration-line: line-through;
}
.nav-link p{
    margin-bottom: 0 ;
}

/* sieu thi */
.sieuthi{
    margin-bottom: 10px;
}
.title-st{
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}
.dis-st{
    text-align: left;
}
/* btn mua */
.button-mua{
    margin-bottom: 10px;
}
.row1 .btn{
    background-color: #fb6e2e;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    padding: 14px 10px;
    text-align: center;
    margin-bottom: 10px;
}

.row2{
    display: flex;
}
.row2 .btn{
    background-color: #2f80ed;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    padding: 14px 10px;
    text-align: center;
}

.row2 .btn1{
    flex: 1;
}
.row2 .btn2{
    margin-left: 10px;
    flex: 1;
}
/*  */
.discount{
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 10px;
}
.title-discount{
    font-weight: bold;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e0e0e0;
    padding: 8px 10px;
    text-align: left;
}
.content-discount{
    padding: 15px 10px 10px 10px;
}
.nb {
    background-color: #4a90e2;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    float: left;
    height: 16px;
    line-height: 16px;
    margin-top: 2px;
    text-align: center;
    width: 16px;
}
.dis-cd{
    padding-left: 26px;
    text-align: left;
    
}
/*  */
.noibat{
    margin: auto;
    width: 950px;
    text-align: left;
    background-color: #f2f2f2;
    padding: 20px 0 5px 70px;
    border-radius: 10px;
    line-height: 35px;
}
.noibat p{
    color: red;
    font-weight: bold; 
}
.noibat ul{
    list-style-type: unset;
}
.thongTinSP>p{
    text-align: justify;
    padding: 20px;
}
/* cmt */
.title-total{
    font-weight: bold;
    margin-top: 45px;

}
.danhGiaSP{
    padding: 20px;
}
.main-cmt{
    display: flex;
    padding: 20px;
}

.total-cmt{
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid rgba(128, 128, 128, 0.291);
}
.detail-cmt{
    padding-left: 20px;
    flex: 1.5;
    
}
.bar-container,.bar{
    border-radius: 20px;
}
.fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    padding: 0 20px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    margin-top: 15px ;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #ff9800;}
  .bar-4 {width: 30%; height: 18px; background-color: #ff9800;}
  .bar-3 {width: 10%; height: 18px; background-color: #ff9800;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #ff9800;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }
