*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: Arial, Helvetica, sans-serif;
}
/* header{
    text-align: center;
} */
ul{
    list-style: none;
}
li>a{
    text-decoration: none;
}

.container{
    max-width: 1000px;
    margin: auto;
}
header img{
    width: 100%;
}

.modal-content{
    box-shadow: 0px 0px 15px 2px rgba(255,255,255,0.5);
    color: white;
}
/* ..................menu.......................... */
.menu{
    display: flex;
    width: 100%;
    background: #FFF200;
    justify-content: center;
    height: 40px;
    border-top: 1px solid rgb(77, 76, 76);
    text-align: center;
    margin-top: -16px;
    /* border: 1px solid red; */
}

.main-menu{
    width: 1000px;
    margin-top: 30px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: cente
    
}

.main-menu li >a{
    line-height: 40px;
    color: black;
    position: relative;
    display: block;
    width: 106px;
    /* border: 1px solid red; */
    height: 40px;
}

.main-menu>li>a:hover{
    background: black;
    color: white;
}


.textmenu{
    font-size: 20px;
    /* font-weight: bold; */
}

.main-menu ul.sup-menu{
    margin-top: px;
    border: 1px solid rgb(195, 188, 188);
    position: absolute;
    width: 100px;
    position: absolute;
    background: #f6ea07;
    list-style: none;
    /* border-radius: 5px; */
    display: none;
}
.main-menu li:hover>ul.sup-menu{
    display: block;

}

.main-menu ul.sup-menu a{
    /* border: 1px solid red; */
    text-align: left;
    width: 160px;
    color: black;
    margin-bottom: 2px;
    padding:5px;
    left: 0;
    height: 40px;
}


.main-menu li:hover{
    border-bottom: 1px solid white;
}


.main-menu ul.sup-menu li{
    width: 200px;
    margin-left: -32px;    
}



.main-menu ul.sup-menu li:last-child a{
    border: none;
}

.main-menu ul.sup-menu ul.sup-menu{
    left: 151px;
    top: 41px;
}
.main-menu ul.sup-menu ul.sup-menu li:last-child a{
    border: none;
    
}


/* ....................section........................ */

section{
    /* text-align: center; */
    width: 80%;
    margin: 0 auto;
}

section>img{
    margin: 0 auto;
    /* border: 1px solid white; */
    /* border-radius: 5px; */
    width: 100%;
    /* height: 444px; */
}

.khungtg{
    border-radius: 10px;
    width: 160px;
    font-size: 13px;
    border: 1px solid rgb(210, 209, 209);
    background: linear-gradient(to top, rgb(246, 246, 105), rgb(237, 243, 172));
}

.box-countdown{
    display: flex;
    height: 60px;
    margin-top: -58px;
    margin-left: 30px;
    color: rgb(111, 73, 2);
}

.box-time{
    /* border: 1px solid red; */
    display: flex;
    width: 150px;
}

.box-time >li{
    font-weight: 600;

    border-radius: 5px;
    /* margin-left: 2px; */
    /* background: #ebe6e6; */
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    text-align: left;
}


.title{
    /* border: 1px solid red; */
    font-weight: bold;
    margin-right: -26px;
    margin-top: 13px;
    font-size: 18px;
}

.khunggt{
    height: 1050px;
    margin: 0 auto;
    width: 100%;
    background: #FED101;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    /* border: 1px solid black; */
}
.rowgt{
    margin: 0 auto;
    width: 92.6%;
    display: flex;
    text-align: left;
    /* justify-content: space-between; */
    margin-bottom: 7px;
    /* border: 1px solid red; */
}
.rowgt img{
    margin-left: 35px;
    margin-top: 10px;
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
}

.anhsec{
    margin-right: 5px;
    border: 1px solid rgb(226, 223, 223);
    height:340px;
    border-radius: 7px;
    margin-top: 5px;
    transition: transform 0.1s;
    width: 200.6px;
    margin-bottom: 5px;
}
.anhsec>div{
    font-size: 12px;
    
}

.anhsec:hover{
    border: 1px solid rgb(154, 150, 150);
    transition: all 0.1s ease;
}

.anhsec:hover {
    transform: scale(1.03);
    /* border: 1px solid red; */
}



/* -------------------------Lien He--------------------- */
#lienhe{
    font-size: 20px;
    /* font-weight:  ; */
    text-align: start;
}

.lienhe_header b{
    margin: 0;
    font-size: 50px;
    /* width: 100%; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(33, 37, 41);
}

.lienhe_content{
    display: flex;
    margin-top: 50px;
    
}

iframe{
    height: 450px;
}


.thongtin{
    width: 50%;
    height: 100%;
}


.lienhe_content .input li{
    margin: 30px;
}

.lienhe_content .input-item{
    position: relative;
    width: 100%;
}

.input b{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-bottom:50px;
    font-size: 30px;
    font-weight: bolder;
    
}



.lienhe_content input{
    position: relative;
    padding: 10px;
    border:  1px solid gray;
    border-radius: 30px;
    outline: none;
    font-size: 1em;
}

.lienhe_content .textarea-field{
    /* width: 100%; */
    outline: 0;
    border: 1px solid  gray;
    border-radius: 10px;
    padding: 10px;
    /* background: #efefef; */
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 16px;
    transition: 0.3s ease;
}


.lienhe_content .textarea-field:focus{
    border-color: rgb(255, 212, 0);
    padding: 5px 5px 20px 5px;
}



.lienhe_content input:valid ~ span,
.lienhe_content input:focus ~ span
{
    color: rgb(255,212,0);
    transform: translateX(20px) translateY(-20px);
    font-size: 0.65em;
    /* margin: 10px; */
    background : white;
    padding: 0 30px;
    border-left: 1px solid rgb(255,212,0);
    border-right: 1px solid rgb(255,212,0);
}


.lienhe_content:nth-child(2) input:valid ~ span,
.lienhe_content:nth-child(2) input:focus ~ span{
    background: rgb(255,212,0);
    color: #333;
    border-radius: 10px;
}


.lienhe_content input:valid,
.lienhe_content input:focus {
    border:  1px solid rgb(255,212,0);
}


.lienhe_content span{
    font-size: 18px;
    position: absolute;
    /* height: 100%; */
    left: 10px;
    top: 10.8px;
    color: grey;
    pointer-events: none;
    text-transform: uppercase;
    transition: 0.5s;
    
}

.input-next {
    display: inline-block;
    height: auto;
    border: 1px solid #333;
    border-radius: 60px;
    background-color: #212529;
}


.input-next:hover a{
    color: rgb(255,212,0);
}

.input-next a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 20px;
}


br{
    width: 100%;
}


.lienhe_content .map{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 50%;
}

.lienhe_content li{
    margin: auto 10px;
}


.lienhe_content li>a{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}


.lienhe_content .link li{
    display: inline-block;
    /* text-align: none; */
}
.link-list{
    margin: 40px;
}
/* ------------------------------------------------------ */





/* .................footer...................... */
footer{
    width: 100%;
    border-top: 1px solid rgb(230, 226, 226);
    clear: both;
    position: relative;
}
.footer-title{
    clear: both;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: left;
}
.footer-top{
    margin: auto;
    display: flex;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-col{
    width: 25%;
}
.footer-text-contact{
    color: #2f80ed;
    font-weight: bold;
}
.footer-menu{
    padding: 0;
    list-style: none;
}
.footer-text-link{
    color: black;
    font-size: 10px;
}
.footer-list-link{
    margin-bottom: 2px;
    margin-left: 5px;
    text-align: left;
}
.footer-text-contact{
    text-align:left;
    margin-top: 1.5px;
    font-size: 8px;
}
.footer-text-call{
    margin-right: 2px;
    font-size: 10px;
}
.footer-list-contact{
    display: flex;
    height: 30px;
    margin-left: 5px;
}
.footer-list-logo{
    display: inline-block;
    width: 18%;
    margin-bottom: 5px;
    padding: 0;
}
.footer-img-logo{
    
    width: 90%;
}
.footer-list-avarta{
    display: inline-block;
    width: 21%;
    margin-bottom: 5px;
    float: left;
    margin-right: 9px;
    
}
.footer-avarta-member{
    width: 100%;
    vertical-align: top;
    height: 30px;
}
.footer-list-avartapay{
    display: inline-block;
    width: 20%;
    margin-bottom: 5px;
    float: left;
}

.footer-avarta-pay{
    width: 80%;
}
.footer-bot{
    clear: both;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 12px;
    color: #020109;
    font-weight: bold;
    margin: auto;
}
.rotate-up {
    transform: rotate(180deg);
}

/* .................css modal.......................... */

.modal-bodydd{
    overflow-y: auto; 
    max-height: 300px;

}

.modal-bodydd .col-5{
    width: 200px;
    margin-right: 30px;
    border-bottom: 1px solid rgb(220, 212, 212);
    height: 40px;
}

.modal-bodydd .col-5:hover{
    background: rgb(233,244,251);
}

.modal-bodydd .col-5 p>a{
    line-height: 40px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}



